In [1]:
try:
    z=x+y
    print(z)
except NameError:
    try:
      x=int(input())
      y=int(input())
    except:
       print('try again')
except TypeError:
    print('both  should have same datatype')
except:
    print('unknown error')
finally:
    z
    print('ok done')

try again

NameError: name 'z' is not defined

In [10]:
try:
    z=x+y
    print(z)
except NameError:
    try:
      x=int(input())
      y=int(input())
    except:
       print('try again')
except TypeError:
    print('both  should have same datatype')
except:
    print('unknown error')
finally:
    z
    print('ok done')

5
ok done

In [20]:
import sys
x=int(input())
try:
    if x>=0 and x<=10:
        print('ok')
    else :
        raise Exception('only from 1 to 10 allowed')
except:
    print(sys.exc_info()[1])

only from 1 to 10 allowed

In [15]:
y='s'#STAR
if y>=0 and y<=10:
        print('ok')
else :
        raise Exception('only from 1 to 10 allowed')

TypeError: '>=' not supported between instances of 'str' and 'int'

In [23]:
import sys
x=int(input())
try:
    if x>=0 and x<=10:
        print('ok')
    else :
        print('only from 1 to 10 allowed')
except:
    print(sys.exc_info()[1])

only from 1 to 10 allowed

In [4]:

while True:
   try :
        x=input()
        y=float(x)
        
        if y>0 and y<=10:
            print(y)
            
            break
       
   except:
       raise Exception('enter valid no only')

Exception: enter valid no only

In [2]:

while True:
   try :
        x=input()
        y=float(x)
        if y<0 and y>10:
         raise Exception('only from 1 to 10')
        else:
             break
   except ValueError:
       print ('enter  number only')
   except TypeError:
       print ('enter   int number only')
   except:
        print('no valid integer. try again')
print('sucsessful')

enter  number only
enter  number only
enter  number only
sucsessful

In [25]:
type('w')

str

In [ ]:
class Error1(Exception):  #STAR INCOMPLETE
    pass
class Name_field_error(Error1):

num=10
while True:
    try:
        in_num1=input()
        in_num=int(in_num1)
        print()
        if in_num>num:
            raise Name_field_error
        else:
            break
    except Name_field_error:
        print('try again')
    except:
        print(sys.exc_info()[1])
        print('something went wrong')

In [23]:

def validation_name(name):
    try:
        if name.isalpha():
            print('welcome',name)
            flg=True
            message='valid'
        else:
            flg=False
            raise Exception('only letters alllowed')
    except:
        message ='error occured due to numberi'
        return flg,message

validation_name('1')

(False, 'error occured due to numberi')

In [25]:
import sys

def validation_name(name):
    try:
        if name.isalpha():
            print('welcome',name)
            flg=True
            message='valid'
        else:
            flg=False
            raise Exception('only letters alllowed')
    except:
        message =sys.exc_info()[1]
        return flg,message

validation_name('1')

(False, Exception('only letters alllowed'))

In [4]:
vowel_tuple = ('a','e','i','o','u')
try:
    print(vowel_tuple[len(vowel_tuple)+1])
except :
    print("OP(vowel_tuple[length+1]) Error:")

OP(vowel_tuple[length+1]) Error:

In [6]:
try:
    result = 'a'+1  # This raises ZeroDivisionError
except Exception as ex:  # Catch any exception
    print("An error occurred:", ex)

An error occurred: can only concatenate str (not "int") to str