In [6]:

print('Hello World')


#markdown,variable,datatype,typecasting,docstring
# Note-everything is object 
a=10
print(type(a))

Hello World
<class 'int'>

In [ ]:
#BLOCKS
#if,elif,else,for(iterative),while(iterative)
#exception blocks: TRY,EXCEPT,FINALLY
#fUNCTION,GENERATORS,DECORATORS
#classes
#add try except in every function

In [6]:
c=(10,20)
type(c)

tuple

In [7]:
a,b=10,20
cond1=a<b
cond2=a in c
cond1 and cond2

True

In [ ]:
cond1=a>b
cond2=15 in c
if cond1 and cond2:#STAR
    print('a')
elif cond2:
    print('b')
else:
    print('c')

c

In [88]:
if cond1 or cond2:#STAR
    print('a')
elif cond2:
    print('b')
else:
    print('c')

c

In [14]:
l1=[1,2,3,4,'str',[1,2,3]]
t1=(1,2,3,4,'str',[1,2,3])
s1={1,2,3,4,'str'}
l1[0]

1

In [ ]:
#slicing sublist 
l1[5][1]
#slicing tuple
t1[5][2]
#list vs tuple with  uses, use in self database

3

In [ ]:
#SET 
#uses hash index/modified index
#to access elements in set use iterative methods

In [27]:
#Dictionary
d1={'a':1,'b':2}

In [ ]:
#add new values in list
l1.append('abc')
print(l1)
l1.extend('abc')#for multiple 
print(l1)
l1.insert(0,'abc')
print(l1)
#l1.extend(2) gives error
l1.pop()
l1.pop(1)#index based removing
#l1.remove('str')#remove based on values, if values repeated multiple times it will remove first value
print(l1)

del l1[9] #STAR

['abc', 'abc', 'abc', 'abc', 1, 2, 3, 4, [1, 2, 3], 'abc', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'a', 'b', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc']
['abc', 'abc', 'abc', 'abc', 1, 2, 3, 4, [1, 2, 3], 'abc', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'a', 'b', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'c']
['abc', 'abc', 'abc', 'abc', 'abc', 1, 2, 3, 4, [1, 2, 3], 'abc', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'a', 'b', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'c']
['abc', 'abc', 'abc', 'abc', 1, 2, 3, 4, [1, 2, 3], 'abc', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'a', 'b', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b']

TypeError: unhashable type: 'list'

my_list = [1, 2, 3]
my_list.append([4, 5])  # Adds the list [4, 5] as a single element
print(my_list)  # Output: [1, 2, 3, [4, 5]]

my_list = [1, 2, 3]
my_list.extend([4, 5])  # Adds the elements 4 and 5 to the list
print(my_list)  # Output: [1, 2, 3, 4, 5]

In [ ]:
# adding in sublist
l1[8].append(2)

l1[8].insert(0,1)
l1

['abc',
 'abc',
 'abc',
 'abc',
 1,
 2,
 3,
 4,
 [1, 1, 1, 2, 3, 2, 2],
 'abc',
 'abc',
 'a',
 'b',
 'c',
 'abc',
 'a',
 'b',
 'c',
 'abc',
 'a',
 'b',
 'c',
 'abc',
 'a',
 'b',
 'c',
 'abc',
 'a',
 'b',
 'c',
 'a',
 'b',
 'a',
 'b',
 'abc',
 'a',
 'b',
 'abc',
 'a',
 'b',
 'abc',
 'a',
 'b',
 'abc',
 'a',
 'b',
 'abc',
 'a',
 'b',
 'abc',
 'a',
 'b',
 'abc',
 'a',
 'b']

In [54]:
l1.count('abc')

17

In [55]:
l1[8].count(1)

3

In [57]:
#chnaging values 
l1[8][0]=10
print(l1)

['abc', 'abc', 'abc', 'abc', 1, 2, 3, 4, [10, 1, 1, 2, 3, 2, 2], 'abc', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'a', 'b', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b']

1. clear:
Purpose: Empties the contents of a mutable object (like a list or dictionary) without removing the object itself.
my_data = (1, [9, 8, 7], "World")
my_data[1].clear()  # Clears the list inside the tuple
print(my_data)  # Output: (1, [], "World")
Purpose: Deletes an object or a specific item within an object entirely.

Effect: After using del, the object or item is removed from memory (or its containing object). If you try to access the deleted object, Python raises an error.
my_data = (1, [9, 8, 7], "World")
del my_data[1][0]  # Deletes the first element of the list
print(my_data)  # Output: (1, [8, 7], "World")

In [59]:
#l1.sort doesnt work for mixed datatypes
l1[8].sort()
print(l1)

['abc', 'abc', 'abc', 'abc', 1, 2, 3, 4, [1, 1, 2, 2, 2, 3, 10], 'abc', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'a', 'b', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b']

In [ ]:
l2=l1.copy()# chnages dont get refelected
l1=l3# changes get reflected

In [ ]:
l1.reverse()#STAR
print(l1)

['abc', 'abc', 'abc', 'abc', 1, 2, 3, 4, [1, 1, 2, 2, 2, 3, 10], 'abc', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'a', 'b', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b']

In [38]:
#adding a dict to list
l2=[1,2]
l2.extend(d1)
print(l2)
d2={'c':4}
l2.extend(d2)
print(l2)

[1, 2, 'a', 'b']
[1, 2, 'a', 'b', 'c']

In [65]:
#FOR LOOP and LIST COMPREHENSION
for i in l2:
    print(i)

abc
abc
abc
abc
1
2
3
4
[1, 1, 2, 2, 2, 3, 10]
abc
abc
a
b
c
abc
a
b
c
abc
a
b
c
abc
a
b
c
abc
a
b
c
a
b
a
b
abc
a
b
abc
a
b
abc
a
b
abc
a
b
abc
a
b
abc
a
b
abc
a
b

In [73]:
alpha=[]
NUM=[]
DICT=[]
list=[]
for i in l2:#verify STAR
    if type(i)==type('a'):
        alpha.append(i)
    elif type(i)==type(2):
        NUM.append(i)
    elif type(i)==type({'c':4}):
             DICT.append(i)
    elif type(i)==type([1,2]):
         list.append(i)

In [74]:
print(alpha)
print(NUM)
print(DICT)
print(list)

['abc', 'abc', 'abc', 'abc', 'abc', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'abc', 'a', 'b', 'c', 'a', 'b', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b', 'abc', 'a', 'b']
[1, 2, 3, 4]
[]
[[1, 1, 2, 2, 2, 3, 10]]

In [66]:
type(2)

int

In [78]:
emp_list=[]
for i in range(2,20,3):
    emp_list.append(i)
print(emp_list)

[2, 5, 8, 11, 14, 17]

In [81]:
emp_list=[i for i in range(2,20,2)]
print(emp_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [82]:
emp_list=[i for i in range(2,20,2) if i%4==0]
print(emp_list)

[4, 8, 12, 16]

In [83]:
emp_list=[i*2 for i in range(2,20,2) if i%4==0]
print(emp_list)

[8, 16, 24, 32]

In [85]:
emp_list=[i if i%4==0 else -1 for i in range(2,20,2) ]
print(emp_list)

[-1, 4, -1, 8, -1, 12, -1, 16, -1]

In [86]:
if False:
    print('a')

In [ ]:
# missed tuples slicing ,remove,discard of set,tuple index
# NOTE type of key in dict shld be no,float,tuples

In [120]:
s1={1,2}
s2={2,3}
s1.union(s2)

{1, 2, 3}

In [121]:
s1.intersection(s2)

{2}

In [122]:
s1.difference(s2)

{1}

In [123]:
s1.symmetric_difference(s2)

{1, 3}

In [95]:
d1={'a':10}
d2={'b':20,'y':[1,2]}

In [92]:
d1.update(d2)

In [97]:
d2['y'][1]

2

In [100]:
d2.fromkeys('y')

{'y': None}

In [ ]:
a=d2.fromkeys('y')
print(a[(1)])  #STAR

KeyError: 1

In [102]:
d2['b']=10
print(d2)

{'b': 10, 'y': [1, 2]}

In [103]:
d2.get('y')

[1, 2]

In [ ]:
#adding new values to existing key STAR

In [105]:
d2['l']=30
print(d2)

{'b': 10, 'y': [1, 2], 'l': 30}

In [ ]:
#converting  2 list to dictionary

In [118]:
z1 = ['a', 'b','c','d']
z2 = [1, 2, 3]
result = dict(zip(z1, z2))
print(result)

{'a': 1, 'b': 2, 'c': 3}

In [125]:
#DATE TIME  refer picture
from datetime import datetime
from datetime import date
from datetime import time

In [127]:
a=datetime.now()
print(type(a))

<class 'datetime.datetime'>

In [128]:
a.date()

datetime.date(2025, 1, 8)

In [ ]:
a.strftime('%Y-%m,%d') #string from time #custmosied format

'2025-01,08'

In [1]:
#CONVERSION FROM INT TO DATE TIME
dob_year=int(input('enter year:'))
DOB_month=int(input('enter month:'))
DOB_day=int(input('enter day:'))

ValueError: invalid literal for int() with base 10: ''

In [ ]:
z=datetime(dob_year,DOB_month,DOB_day)

In [ ]:
z.strftime('%d-%m,%y')

In [ ]:
#converting string to date time

In [ ]:
ti=datetime.timestamp(da1)